body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #24582F;
	color: #553d67;
}

.container {
	width: 100%;
	padding: 0 2%;
	margin: 0 auto;
	transition: padding 0.3s ease;
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
		padding: 0 3%;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
		padding: 0 4%;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
		padding: 0 5%;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
		padding: 0 6%;
	}
}

@media (max-width: 320px) {
	.container {
		min-width: 320px;
	}
}
body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
}

.hero-section {
	background-color: #553d67;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.hero-section h1 {
	color: #f64c72;
	font-size: 48px;
	margin: 0;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.hero-section p {
	color: #99738e;
	font-size: 18px;
}

@media (max-width: 768px) {
	.hero-section {
		padding: 60px 0;
	}

	.hero-section h1 {
		font-size: 28px;
	}

	.hero-section p {
		font-size: 16px;
	}
}

@media (max-width: 992px) {
	.hero-section h1 {
		font-size: 32px;
	}

	.hero-section p {
		font-size: 18px;
	}
}

@media (max-width: 1200px) {
	.hero-section h1 {
		font-size: 34px;
	}

	.hero-section p {
		font-size: 20px;
	}
}

.about {
	background-color: #f64c72;
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.about h2 {
	color: #553d67;
	font-size: 46px;
	margin: 0;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.about p {
	color: #553d67;
	font-size: 18px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
	.about {
		padding: 80px 0;
	}

	.about h2 {
		font-size: 32px;
	}

	.about p {
		font-size: 16px;
	}
}

@media (min-width: 769px) and (max-width: 1199px) {
	.about {
		justify-content: center;
	}
}

@media (min-width: 1200px) {
	.about {
		justify-content: center;
	}
}

.portfolio {
	background-color: #553d67;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.portfolio h2 {
	color: #f64c72;
	font-size: 36px;
	margin: 0;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.portfolio p {
	color: #fff;
	font-size: 18px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
	.portfolio h2 {
		font-size: 28px;
	}


	.portfolio p {
		font-size: 16px;
	}
}

@media (max-width: 992px) {
	.portfolio h2 {
		font-size: 32px;
	}
}

@media (max-width: 1200px) {
	.portfolio h2 {
		font-size: 34px;
	}
}

.contact {
	background-color: #f64c72;
	padding: 100px 0;
	text-align: center;
	color: #fff;
}

.contact h2 {
	color: #553d67;
	font-size: 36px;
	margin: 0;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.contact p {
	color: #99738e;
	font-size: 18px;
}

.collapsible {
	margin-top: 20px;
}

.collapsible-btn {
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	font-size: 16px;
	background-color: #553d67;
	color: #fff;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.collapsible-btn:hover {
	background-color: #7c80f2;
}

.collapsible-content {
	display: none;
	transition: display 0.3s ease;
}

#contact-form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 20px;
}

#contact-form input,
#contact-form button {
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	font-size: 16px;
	transition: background-color 0.3s ease, color 0.3s ease;
}

#contact-form input {
	background-color: #fff;
	color: #553d67;
}

#contact-form button {
	background-color: #99738e;
	color: #fff;
	cursor: pointer;
}

#contact-form button:hover {
	background-color: #7c80f2;
}

#success-message {
	margin-top: 20px;
	display: none;
}

@media (max-width: 768px) {
	.contact {
		padding: 80px 0;
	}


	.contact h2 {
		font-size: 28px;
	}

	.contact p {
		font-size: 16px;
	}

	.collapsible-btn {
		font-size: 14px;
	}

	#contact-form input,
	#contact-form button {
		font-size: 14px;
	}
}

@media (max-width: 992px) {
	.contact h2 {
		font-size: 32px;
	}
}

@media (min-width: 1200px) {
	.contact h2 {
		font-size: 40px;
	}
}

#progress-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 8px;
	background-color: var(--active-color);
	z-index: 9999;
	transition: width 0.2s ease;
	border-radius: 50px;
}

@keyframes wave {
	0% {
		border-radius: 50px;
	}

	50% {
		border-radius: 10px;
	}

	100% {
		border-radius: 50px;
	}
}

#progress-bar {
	animation: wave 2s linear infinite;
}


footer {
	background-color: #a05fda;
	padding : 5px 0;
	text-align: center;
	color: #99738e;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}